<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="search-container">
        <% albumsData.forEach(element => { %>
        <figure>

            <img src="<%= element.images[0].url %> " alt="">

            <figcaption>
                <h2>
                    <a href="/tracks/<%= element.id %>">
                        <%= element.name %>
                    </a>

                </h2>
            </figcaption>
        </figure>
        <% }) %>
    </section>
</body>

</html>